*{
	margin:0;
	padding:0;
}

body{
	background-color:#fbfbfb;
	padding:15px;
}

header{
	text-align: center;
	background-color:#7a7a7a;
	padding:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;	
}

nav{
	margin-top:8px;	
	text-align:left;
}
nav a{
	text-decoration:none;
	background-color:#a7a7a7;
	margin-right:4px;
	padding:10px;
	display:inline-block;	
	border-radius:10px;
	font-weight:bolder;
}
section{
	background-color:#ffffff;
	padding:15px;
	min-height:200px;
}
